<?php if ($this->get('session')->hasFlash('error')): ?>
<div class="notification error">
	<?php echo $this->get('session')->getFlash('error') ?>
</div>
<?php endif ?>
<h2>Login</h2>
<form method="post" action="/login">
	<div class="form-row">
		<label>Username: </label>
		<input type="text" name="username" id="username" class="form-input" />
	</div>
	<div class="form-row">
		<label>Password: </label>
		<input type="password" name="password" id="password" class="form-input" />
	</div>
	<input type="submit" value="Login" />
</form>