<h2>Profile</h2>
<table>
	<tbody>
		<tr>
			<th>Username</th>
			<td><?php echo $user['username']?></td>
		</tr>
		<tr>
			<th>Email</th>
			<td><?php echo $user['email']?></td>
		</tr>
	</tbody>
</table>