<form method="post" action="/register" class="form">
	<h2>Register</h2>
	
	<?php if ($this->get('session')->hasFlash('errors')): ?>
	<div class="notification error">
		<?php foreach ($this->get('session')->getFlash('errors') as $error): ?>
		<p><?php echo $error ?></p>
		<?php endforeach ?>
	</div>
	<?php endif ?>
	
	<div class="form-row clearfix">
		<label>Email Address: </label>
		<input type="text" name="email" id="email" class="form-input" value="<?php echo isset($form_data) ? $form_data['email'] : '' ?>" />
	</div>
	<div class="form-row clearfix">
		<label>Username: </label>
		<input type="text" name="username" id="username" class="form-input" value="<?php echo isset($form_data) ? $form_data['username'] : '' ?>" />
	</div>
	<div class="form-row clearfix">
		<label>Password: </label>
		<input type="password" name="password" id="password" class="form-input" />
	</div>
	<div class="form-row clearfix">
		<label>Re-type Password: </label>
		<input type="password" name="retype_password" id="retype_password" class="form-input" />
	</div>
	<input type="submit" value="Register" />
</form>